body {
    font-family: "Share Tech Mono", Arial, Helvetica, sans-serif;
    background-image: url(../images/milky-way-2695569_1920.jpg);
  color: yellow;
  }
  
  img {
    width: 100px;
    height: 160px;
    border-radius: 10px;
  }
  
  .section-title {
    font-size: 200%;
    text-shadow: 2px 2px black;
  }
  
  .main-section-title {
    font-size: 300%;
    text-align: center;
    text-shadow: 2px 2px black;
  }
  
  .character {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border-color: green;
    border-style: solid;
    border-width: 3px;
    color: black;
  }
  
  .character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  
  .character-name {
    text-align: center;
  }
  
  .character-health {
    text-align: center;
  }
  
  #available-to-attack-section .character {
    display: inline-block;
    cursor: pointer;
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  
  .enemy {
    display: inline-block;
    cursor: pointer;
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  
  #action .character {
    color: white;
    background-color: black;
  }
  
  #defender-name {
    text-align: center;
  }
  
  #defender-health {
    text-align: center;
  }
  
  #choose-enemy-button {
    visibility: hidden;
  }
  
  #restart-button {
    visibility: hidden;
  }
  
  #turn-counter {
    font-size: 150%;
  }

  #game-message {
      
  }

  .endGame {
    
  }